body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#map{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.tittle{
    position: absolute;
    font-size: 80px;
    color: #333;
    text-transform: uppercase;
    z-index: 1;
    font-weight: bold;
    top: 100px;
    left: 80px;
}
.search-container{
    position: absolute;
    width: 400px;
    height: 60px;
    z-index: 100;
    top: 230px;
    background-color: #454E53;
    left: 100px;
    border-radius: 30px;
    display: flex;
}
.search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.search-container input{
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}
.search-container input:focus{
    outline: none
}
.search-container i{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.store-list-container {
    position: absolute;
    background: white;
    width: 400px;
    z-index: 100;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
    display:flex
}

.store-address{
    font-size: 21px;
    color: #514c4c;
    margin-top: 30px;
}

.store-phone-number{
    color: #b5adad;
    margin-top: 15px;
    margin-bottom: 15px;
}
.store-number{
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #454E53;
    color: #b5adad;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.store-address span{
    display: block
}
.store-container-background{
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px; 
    transition: all 0.2s ease-in-out
}
.store-info-container{
    flex-grow: 1;
}
.stores-list{
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-grow: 1;
}
.stores-list:hover{
    overflow-y: scroll;
}
.store-container{
    border-bottom: 1px solid #979797;
    cursor: pointer;
}
.store-number-container{
    display: flex;
    align-items: center
}
.store-container-background:hover{
    background-color: #ccc;

}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(69, 78, 83); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(69, 78, 83); 
}